.container{
    max-width: 75%;
    margin: auto;
    height: 40%;
    margin-top: 5%;
    background: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}
.profile-details{
    display: flex;
}
.pd-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pd-image{
    width: 71px;
    margin-right: 20px;
    border-radius: 6px;
    
}
.left, .right{
    padding-left: 10%;

}
.right{
    line-height: 25px;
}

.Profile-Description{
    padding-left: 20%;
}
.your-product{
    border: 1px solid gray; 
    height:100px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

