.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .home_panelList-wrap,
  .home_panel-wrap,
  .home_list-wrap {
    overflow-y: auto;
  }
  
  .home_panelList-wrap {
    flex: 1;
    display: flex;
  }
  .home_panel-wrap {
    flex-basis: 280px;
    padding: 1rem;
  }
  .home_list-wrap {
    flex: 1;
    padding: 1rem;
  }

  .filter-main{
  width: 350px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
}
@media screen and (max-width: 200px){
  .filter-main{
    max-width: 200px;
  }
}

.cd-filter h3{
  padding: 0 0 25px 10px;
  font-size: 20px;
}
.cd-filter h4{
  padding: 0 0 10px 10px;
  font-size: 20px;
}
.content-filter{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.content-filter input[type="search"]{
  width: 300px;
  height: 40px;
  background: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  color: #252525;
  padding-left: 45px;
  border-color: #252525;
  margin-left: 10px;
}
.content-filter .icon{
  position: absolute;
  margin-left: 20px;
  margin-top: 9px;
  color: #252525;
  font-size: 25px;
}
.content-filter .filter {
  width: 300px;
  height: 40px;
  overflow: auto;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
}

.content-filter1{
  font-size: 20px;
  
}
.content-filter1 .filter{
  height: 20px;
  width: 20px;
  margin: 10px 10px 0 10px;

}
.btn-clear-all button{
  width: 140px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  margin: 40px 40px 10px 10px;
  background: #252525;
  color: #f5f5f5;
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
  