.Footer {
    background-color: #101010;
}
.Footer-Content {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
    width: 100%;
}
@media (max-width: 768px){
.Footer-Content {
        flex-flow: column nowrap;
    }
}
  
.Footer-Copyright {
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
}
@media screen and (max-width: 768px){
.Footer-Copyright {
    color: #828b8d;
    order: 2;
    text-align: center;
    }
}
.Footer-Link {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.Footer-Links {
    text-align: center;
}
@media (max-width: 768px){
  .Footer-Links {
    order: 1;
    padding-bottom: 10px;
    }
}
@media (max-width: 768px){
.Footer-Content {
    flex-flow: column nowrap;
    }
}